<%- include('header') %>
    <form action="/admin/edit/<%=data[0]._id%>" method="post" enctype="multipart/form-data"
        onsubmit="return validateForm()">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>

                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                        <input type="submit" class="btn btn-md rounded font-sm hover-up" value="publish">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">


                        <div class="mb-4">
                            <label for="product_name" name=" productName" class="form-label">Product title</label>
                            <input type="text" placeholder="Type here" name="name" id="product_name"
                                class="form-control" value="<%=data[0].name%>" id="product_name">
                            <div id="nameError" style="color: red;"></div>
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" name="description" id="product_description"
                                class="form-control" value="" rows="4"><%=data[0].description%></textarea>
                            <div id="discriptionError" style="color: red;"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <div class="row gx-2">
                                        <input placeholder="" type="number" name="regular_price" min="0"
                                            value="<%=data[0].regular_price%>" id="regularprice" class="form-control">
                                            <div id="regularpriceError" style="color: red;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Sales_price</label>
                                    <input placeholder="" name="sale_price" type="number" min="0"
                                        value="<%=data[0].regular_price%>" id="saleprice" class="form-control">
                                        <div id="salepriceError" style="color: red;"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Offer percentage</label>
                                    <input name="product_offer_price" placeholder="%" type="number" min="0"
                                        value="<%=data[0].product_offer_price%>" class="form-control">
                                </div>
                            </div>


                            <div class="col-lg-4">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category">
                                    <% Data.forEach(function(item) { %>
                                        <option>
                                            <%= item.category %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">quantity</label>
                                    <input placeholder="" name="quantity" type="number" min="0"
                                        value="<%=data[0].quantity%>" id="quantity" class="form-control">
                                        
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mb-4">
                                    <label class="form-label">Tax rate</label>
                                    <input type="number" placeholder="%" name="gst"  min="0" value="<%=data[0].gst%>"class="form-control" id="product_name">
                                </div> -->

                    </div>
                </div> <!-- card end// -->

            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <% for (let i=0; i < data[0].images.length; i++) { %>
                        <div class="card-body">
                            <div class="input-upload">

                                <img src="/upload/product/<%= data[0].images[i] %>" alt="Product Image <%= i + 1 %>">

                                <!-- <img src="/upload/product/<%=data[0].images%>" alt=""> -->
                            </div>
                            <button type="button" onclick="deletePhoto('<%=i%>','<%=data[0]._id%>')">delete</button>
                        </div>
                        <% } %>
                </div> <!-- card end// -->
                <input name="image" class="form-control" value="<%=data[0].images%>" accept="image/*" type="file"
                    multiple>

            </div>
    </form> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
    </main>


    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>

    <script>
        function deletePhoto(index, productId) {
            console.log(index, "index");
            console.log(productId, "product");
            fetch("/admin/deletedproduct", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: productId, index: index })

            }).then(response => response.json())
                .then(data => {

                    console.log("item delted", data);
                    window.location.reload();
                })
                .catch(Err => {
                    console.log("errorr dlt item", Err);
                })


        }
    </script>

    <script>
        function validateForm() {
            // event.preventDefault()
            // Reset error messages
            document.getElementById('nameError').textContent = '';
            document.getElementById('discriptionError').textContent = '';
            document.getElementById('salepriceError').textContent = '';
            document.getElementById('regularpriceError').textContent = '';

            // Get the values from the form
            const productName = document.getElementById('product_name').value;
            const productdescription = document.getElementById('product_description').value;
            const salesPrice = document.getElementById('saleprice').value;
            const productPrice = document.getElementById('regularprice').value;

            const maxProductNameLength = 50;
            const maxProductDescriptionLength = 250;


            // Check for spaces or empty product name
            if (productName.trim() === '') {
                document.getElementById('nameError').textContent = 'Product title cannot be empty.';
                return false; // Prevent form submission
            }

            if (!productName.match(/^[a-z ,.'-]+$/i)) {
                document.getElementById('nameError').textContent = 'Product name should not include special characters';
                return false; // Prevent form submission
            }

            if (productName.length > maxProductNameLength) {
                document.getElementById('nameError').textContent = 'Product title is too long.';
                return false; // Prevent form submission
            }

            const maxNameLength = 50;
            if (productName.length > maxNameLength) {
                document.getElementById('nameError').textContent = 'Product name exceeds the maximum limit.';
                return false; // Prevent form submission
            }

            if (productdescription.trim() === '') {
                document.getElementById('discriptionError').textContent = 'Product discription cannot be empty.';
                return false; // Prevent form submission
            }

            if (productdescription.length > maxProductDescriptionLength) {
                document.getElementById('discriptionError').textContent = 'Product description is too long.';
                return false; // Prevent form submission
            }

            ////////////////
            if (salesPrice.trim() === '') {
                document.getElementById('salepriceError').textContent = 'saleprice price is required.';
                return false; // Prevent form submission
            }
            if ((salesPrice !== '') && parseFloat(salesPrice) <= 0) {
                document.getElementById('salepriceError').textContent = 'saleprice price must be a greater than zero.';
                return false;
            }

            if (productPrice.trim() === '') {
                document.getElementById('regularpriceError').textContent = 'Regular price is required.';
                return false;
            }
            if (isNaN(productPrice) || parseFloat(productPrice) <= 0) {
                document.getElementById('regularpriceError').textContent = 'Regular price must be greater than zero.';
                return false;
            }

            return true; // Allow form submission if all validations pass
        }

    </script>

    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->