<%- include('header') %>
    <style>
        .table .category-cell {
            max-width: 150px;

        }

        .btn-pagination {
            display: inline-block;
            padding: 8px 16px;
            background-color: #01060b;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 2px;
        }

        .btn-pagination.current-page {
            background-color: #ccc;
            color: #333;
        }
    </style>


    <main class="">
        <section class="content-main">
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Sales Reports</h4>
                    <div class="row align-items-center">

                        <form action="/admin/salesreport" method="GET">
                            <div class="d-flex">
                                <span>From</span>
                                <div class="col-md-2 col-6">
                                    <input name="from" type="date" value="<%= from %>" class="form-control">
                                </div>
                                &nbsp;&nbsp; <span>To</span> &nbsp;&nbsp;
                                <div class="col-md-2 col-6">
                                    <input name="to" type="date" value="<%= to %>" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Generate Report</button>
                        </form>
                    </div>
                    <br>
                    <div class="d-flex">
                        <a href="/admin/reports/sales/download/excel?from=<%= from %>&to=<%= to %>"><span
                                class="fw-semibold">Download Excel</span></a>
                        &nbsp;&nbsp; <a href="/admin/reports/sales/download/pdf?from=<%= from %>&to=<%= to %>"><span
                                class="fw-semibold">Download PDF</span></a>
                    </div>
                    <div class="d-flex gap-3 mt-3 ms-2">
                        <% dateRanges.forEach(function(item) {%>
                            <a class="text-blue text-decoration-underline"
                                href="/admin/salesreport?from=<%= item.from %>&to=<%= item.to %>">
                                <span>
                                    <%= item.text %>
                                </span>
                            </a>
                            <% }) %>
                    </div>


            </div>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>

                                    <th class="align-middle" scope="col">Order ID</th>
                                    <th class="align-middle" scope="col">Billing Name</th>
                                    <th class="align-middle" scope="col">Date</th>
                                    <th class="align-middle" scope="col">Total</th>

                                    <th class="align-middle" scope="col">Payment Method</th>
                                    <th class="align-middle" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(function(item) { %>
                                    <tr>
                                        <td>
                                            <%= item._id %>
                                        </td>
                                        <td><b>
                                            <%= item.address[0].name %>
                                            </b></td>
                                        <td>
                                            <%= item.createdAt.toLocaleString() %>
                                        </td>

                                        <td>₹<%= item.finalAmount %>
                                        </td>
                                        <td><span class="badge rounded-pill alert-warning text-capitalize">
                                                <%= item.paymentMode %>
                                            </span></td>

                                       <td><%= item.orderStatus %></td>
                                    </tr>
                                    <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div> <!-- table-responsive end// -->
            </div>
            </div>
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% for(let i=1; i<=totalPages;i++) { %>
                            <% if(i===currentPage){ %>
                                <li class="page-item active"><a class="page-link" href="#">
                                        <%= i %>
                                    </a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/admin/salesreport?page=<%= i %>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>
                                        <% } %>

                    </ul>
                </nav>
            </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            console.log("Document is ready.");

            var table = $('#myTable').DataTable({
                "paging": true,          // Enable pagination
                "pageLength": 5,        // Number of rows per page
                "lengthMenu": [5, 10, 25, 50, 75, 100],  // Dropdown options for rows per page
            });

            table.on('draw', function () {
                $(".paginate_button:not(.previous):not(.next)").addClass("number_button");
            });
        });



    </script>