<%- include('../layouts/header.ejs' ) %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/userhome" rel="nofollow">Home</a>
                    
                    <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Wallet Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                                        aria-labelledby="dashboard-tab">
                                        <!-- Existing code for displaying user profile -->

                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Hello <% if(locals.data) {%>
                                                        <%= data.name %>
                                                            <%} %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <% if(locals.data) {%>
                                                    <%= data.email %>
                                                        <%} %>
                                                            <p>From your account dashboard, you can easily check &amp;
                                                                view your <a href="#">recent orders</a>, manage your <a
                                                                    href="#">shipping and billing addresses</a>, and <a
                                                                    href="#">edit your password and account details.</a>
                                                            </p>

                                                            <li>
                                                                <a href="#"
                                                                    class="text-decoration-none d-flex align-items-start">
                                                                    <div class="far fa-user pt-2 me-3"></div>
                                                                    <div class="d-flex flex-column">
                                                                        <div class="link"
                                                                            onclick="referal('<%= data._id %>')">
                                                                            Referral link</div>
                                                                        <div class="link-desc">Copy this link to invite
                                                                            someone and earn a reward</div>
                                                                    </div>
                                                                </a>
                                                            </li>

                                                            <!-- Add a link to the user profile edit page -->
                                                            <a href="/profile"
                                                                class="btn btn-primary mt-3">View Profile</a>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">My Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <a href="/orderlist?id=<%=userdata%>">
                                                    <h5 style="color: blue;">View Order Details</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="col-lg-9 my-lg-0 my-1">
                                                            <div id="main-content" class="bg-white border">
                                                                <div class="d-flex flex-column">
                                                                    <div class="h5">
                                                                        <%if(locals.data){%>
                                                                            <%=data.name%>
                                                                                <%}%>
                                                                    </div>
                                                                    <div>Logged in as: <%if(locals.data){%>
                                                                            <%=data.email%>
                                                                                <%}%>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex my-4 ">
                                                                    <div class="box me-4 my-1 bg-light">
                                                                        <!-- <span >wallet</span> -->
                                                                        <a href="/wallet">
                                                                            <h5 style="color: blue;">wallet</h5>
                                                                        </a><br>
                                                                        <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                                                                            alt="">

                                                                        <div class="d-flex align-items-center mt-2">
                                                                            <%if(locals.data){%>
                                                                                <% var totalAmount=0; %>
                                                                                    <%for(i=0;i< data.wallet.length;i++){%>

                                                                                        <% totalAmount
                                                                                            +=data.wallet[i].amount; %>
                                                                                            <%}%>
                                                                                                <div class="mt-2">
                                                                                                    Balance: <%=
                                                                                                        totalAmount %>
                                                                                                </div>
                                                                                                <%}%>
                                                                        </div>

                                                                    </div>
                                                                    <div class="box me-4 my-1 bg-light">
                                                                        <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
                                                                            alt="">
                                                                        <div class="d-flex align-items-center mt-2">
                                                                            <div class="tag">Items in Cart</div>
                                                                            <div class="ms-auto number"></div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="box me-4 my-1 bg-light">
                                                                        <img src="https://www.freepnglogos.com/uploads/love-png/love-png-heart-symbol-wikipedia-11.png"
                                                                            alt="">
                                                                        <div class="d-flex align-items-center mt-2">
                                                                            <div class="tag">Wishlist</div>
                                                                            <div class="ms-auto number">10</div>
                                                                        </div>
                                                                    </div> -->
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <!-- <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="address" role="tabpanel"
                                        aria-labelledby="address-tab">
                                        <div class="row">
                                            <div class="row-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">My Address</h5>
                                                    </div>
                                                    <div class="card-body custom-card">
                                                        <% if(data.address) { %>
                                                            <% for(i=0; i<data.address.length; i++) { %>
                                                                <div
                                                                    class="mt-3 mb-3 p-4 rounded border custom-card-item">
                                                                    <div class="d-flex justify-content-between mb-3">
                                                                        <h5>Address: <%=data.address[i].name%>
                                                                        </h5>
                                                                        <button class="btn btn-danger" onclick="removeAddress('<%= data._id %>', '<%= data.address[i]._id %>')">
                                                                            <i class="bi bi-trash-fill"></i> Delete
                                                                        </button>
                                                                    </div>
                                                                    <div class="mb-2">
                                                                        <strong>Primary Number:</strong>
                                                                        <%=data.address[i].number%><br>
                                                                            <strong>Alternate Number:</strong>
                                                                            <%=data.address[i].altNumber%>
                                                                    </div>
                                                                    <div class="mb-2">
                                                                        <strong>Pincode:</strong>
                                                                        <%=data.address[i].pincode%><br>
                                                                            <strong>House:</strong>
                                                                            <%=data.address[i].house%><br>
                                                                                <strong>Area:</strong>
                                                                                <%=data.address[i].area%><br>
                                                                                    <strong>Landmark:</strong>
                                                                                    <%=data.address[i].landmark%><br>
                                                                                        <strong>Town:</strong>
                                                                                        <%=data.address[i].town%><br>
                                                                                            <strong>State:</strong>
                                                                                            <%=data.address[i].state%>
                                                                    </div>
                                                                    <a class="btn btn-info" id="edit" target="__blank"
                                                                        href="/editaddress?id=<%=data.address[i]._id%>">
                                                                        <i class="bi bi-pencil-fill"></i> Edit Address
                                                                    </a>
                                                                </div>

                                                                <% } %>
                                                                    <% } %>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Shipping Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>4299 Express Lane<br>
                                                            Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                        <p>Sarasota</p>
                                                        <a href="#" class="btn-small">Edit</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                            height="24" viewBox="0 0 24 24" fill="none"
                                                            stroke="currentColor" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round" class="">
                                                            <path d=""></path>
                                                        </svg>add address</h6>
                                                    <span class="text-secondary"> <a href="/addAddress">ADD NEW
                                                            ADDRESS</a></span>
                                                </li>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
       function removeAddress(userId, addressId) {
    console.log('Removing address:', { userId, addressId });
    $.ajax({
        url: '/removeAddress',
        method: 'post',
        data: {
            userId: userId,
            addressId: addressId,
        },
        success: (response) => {
            location.href = "/address";
        }
    });
}

    </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function referal(id) {
        var copyText = `http://localhost:5000/register?id=${id}`;

        // Display success message with SweetAlert2
        Swal.fire({

            icon: 'success',
            title: 'Copied SuccessFull',
            showConfirmButton: false,
            timer: 1500
        });

        // Copy the text to the clipboard
        navigator.clipboard.writeText(copyText)
            .then(function () {
                console.log("Text copied to clipboard: " + copyText);

                // If you want to close something with the class 'close-container' here
                var noThanksButton = document.querySelector('.close-container button');
                if (noThanksButton) {
                    noThanksButton.click();
                }
            })
            .catch(function (err) {
                console.error("Failed to copy text: " + err);
            });
    }
</script>
    <%- include('../layouts/footer.ejs') %>