<%- include('../layouts/header.ejs') %>
	
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>Product</th>
					<th>Payment type</th>
					<th>Unit Price</th>
					<th>Quantity</th>
					<th>Total</th>
					<%var total=0%>
					<!-- <%=order[0].discount%> -->
					<% for(i=0;i<order.length;i++){%>
					<tr>
						
						<th width="20%"><%=order[i].ProductDetails[0].name%></th>
						<th width="20%"><span class=" rounded-pill alert-success text-success"><%=order[i].paymentMode%></span></th>
						<th width="20%">₹<%=order[i].items.price%></th>
						<th width="20%"><%=order[i].quantity%></th>
						<%var x=order[i].items.price * order[i].quantity%>
						<%total+=x%>
						<th width="20%" class="text-end"> ₹ <%=x%></th>
						
					</tr>
					<%}%>
					
					<tr>
						
						<td colspan="4">
							<article class="float-end">
								
								<%name=order[0].address[0].name%>
								<%area=order[0].address[0].area%>
								<%landmark=order[0].address[0].landmark%>
								<%town=order[0].address[0].town%>
								<%state=order[0].address[0].state%>
								<%number=order[0].address[0].number%>
								<dd> <b class="h5">Address : </b><%=name%> </dd>
								<dd><%=area%></dd>
								<dd>Phone number:<%=number%></dd>
								<dd><%=landmark%></dd>
								<dd><%=town%>, <%=state%></dd>
							</article>
						</td>
						
					</tr>

					<tr>
						<td colspan="4">
							<article class="float-end">
								
								
								<%total=total-order[0].discount%>
								<dd> <b class="h5">  ₹ <%=total%></b> </dd>
								<dl class="dlist">
									<dt class="text-muted">Status:</dt>
									
									<dd>
										<span class="rounded-pill alert-success text-success"><%=order[0].orderStatus%></span>
									</dd>
									
								</dl>
								<% if (order[0].orderStatus === 'Delivered') { %>
									<div>
										<form action="/invoice?id=<%= order[0]._id %>" method="post">
											<button class="btn btn-md rounded font-sm">Invoice</button>
										</form>
									</div>
								<% } %>
								<!-- <div> <a href="" class="btn btn-md rounded font-sm">Invoice</a></div> -->
							</article>
						</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- table-responsive// -->
	
        

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const decrementButton = document.getElementById('decrementButton');
			const incrementButton = document.getElementById('incrementButton');
			const quantityInput = document.getElementById('quantityInput');
	
			decrementButton.addEventListener('click', () => {
				const currentValue = parseInt(quantityInput.value);
				if (currentValue > 1) {
					quantityInput.value = currentValue - 1;
				}
			});
	
			incrementButton.addEventListener('click', () => {
				const currentValue = parseInt(quantityInput.value);
				quantityInput.value = currentValue + 1;
			});
		});
	</script>
	
<%- include('../layouts/footer.ejs') %>