<%- include('../layouts/header.ejs' ) %>

<main class="main">
  <section class="home-slider position-relative">
    <div class="hero-slider-1 style-2 dot-style-1 dot-style-1-position-1">
      <% banners.forEach(function(banner, index) { %>
      <div class="single-hero-slider single-animation-wrap">
        <div class="container">
          <div class="slider-1-height-2 slider-animated-1">
            <div class="hero-slider-content-2">
              <h5 class="animated"><%= banner.titleOne %></h5>
              <h3 class="animated fw-900"><%= banner.titleTwo %></h3>
              <h3 class="animated fw-900 text-brand"><%= banner.titleThree %></h3>
              <p class="animated"><%= banner.titleFour %></p>
              <a class="animated btn btn-brush btn-brush-3" href="/shop"> Shop Now </a>
            </div>
            <div class="single-slider-img single-slider-img-1">
              <a href="<%= banner.link %>">
                <img src="/upload/banner/<%= banner.bannerImage %>" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="slider-arrow hero-slider-1-arrow"></div>
  </section>


  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="assets/imgs/banner/banner-4.png" alt="" />
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
          <h1 class="fw-600 mb-20">
            We're an Apple <br />Authorised Service Provider
          </h1>
          <a href="shop-grid-right.html" class="btn">Learn More <i class="fi-rs-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="featured section-padding">
    <div class="container pb-25">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up">
            <img src="assets/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<%- include('../layouts/footer.ejs') %>